### <a name=".r/<%= name %>"><%= name.titleize %></a>

<%= response['desc'] %>

**HTTP Status Code**: `<%= response['http_code'] || 200 %>`

<%= render 'xjzapidoc/data.md', data: response['data'] %>

Example

```
<%= render_project_data('responses', name) %>
```
