#### <%= icon_tag('list-alt') + toc_id(api['title'], [:api, api['.index']]) %>

<%= api['desc'] %>

% if project.grpc
[GRPC Info](#<%= get_ref_id("grpc-#{api['path']}") %>)
% end

% if api['labels'].present?
**<%= icon_tag('tag') %>Labels**

<%= api['labels'].map { |name| "<span class='badge badge-info'>#{name}</span>" }.join(' ') %>
% end

**<%= icon_tag('share') %>Request**

```nginx
<%= api['method'].to_s.upcase %> <%= api['path'] %>
```

% %w{query body params}.each do |name|
% if api[name].present?
**<%= icon_tag('hashtag') +  name.titleize %>**

<%= render 'xjzapidoc/fields.md', data: api[name] %>
% end
% end

% api['response'].each do |name, res|
% next if res.blank? || res[0] == '.'
% display_res = raw_data.dig('apis', api['.index'], 'response', name) || res
% if display_res =~ /^\.\w\//
% title = "Response: #{name} [#{md_escape(display_res)}](##{get_ref_id(display_res)})"
**<%= icon_tag('reply') %><%= title %><%= id_tag("api_res_#{api['.index']}_#{name}") %>**

% else
**<%= icon_tag('reply') %>Response: <%= name.titleize %><%= id_tag("api_res_#{api['.index']}_#{name}") %>**

HTTP Code: `<%= res['http_code'] || 200 %>`

% if display_res['headers']
HTTP Headers

<%= render 'xjzapidoc/fields.md', data: display_res['headers'] %>
% end

HTTP Body

% if display_res['data'].present?
<%= render 'xjzapidoc/fields.md', data: display_res['data'] %>

Example

% if String === res['data']
```plaintext
<%= res['data'] %>
```
% else
```json
<%= render_project_data('apis', [api['.index'], name]) %>
```
% end # data is string
% else

None 

% end # data present
% end # is ref link
% end # each res

